#padding
{
	display: block;
	height: 500px;
}

.scrollback
{
	color: #888;
}

#chatinput
{
	width: 100%;
}

[contenteditable=true]
{
	border: 1px dotted red;
}

.urgent
{
	background-color: #f88;
}

#playarea
{
	margin-right: 21em;
}

#adminarea
{
	float: right;
	width: 20em;
}
