@import "jqueryui.less";

HTML
{
	background-color: black;
	font-family: 'IM Fell DW Pica', serif;
	//font-family: 'IM Fell French Canon', serif;
}

#page
{
	height: auto !important;
	min-height: 100%;
}

#logincontainer
{
	background-color: white;
}

#registercontainer
{
	background-color: white;
}

#gamebackground
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("res/background.jpg");
	background-repeat: repeat;
	z-index: -999;
}

.scrollback
{
	color: rgba(0, 0, 0, 0.5);
}

#chatinput
{
	width: 100%;
}

.urgent
{
	background-color: #f88;
}

#menubar
{
	position: fixed;
	top: 1em;
	left: 0;
	width: 100%;
	height: 2em;
	background-color: yellow;
	z-index: 1000;
	box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.6);
	
	.left
	{
		padding-left: 1em;
		text-align: left;
	}
	
	.right
	{
		padding-right: 1em;
		text-align: right;
	}
	
	#warptoinstance
	{
		display: inline-block;
		border-bottom: 1px dotted black;
		width: 5em;
	}
}

#playcontainer
{
	margin-left: 3%;
	padding-top: 0;
	width: 50%;
	table-layout: fixed;

	#leftcell
	{
		background-image: url("res/paper-left.png");
		background-repeat: repeat;
		width: 24px;
	}
	
	#rightcell
	{
		background-image: url("res/paper-right.png");
		background-repeat: repeat;
		width: 24px;
	}
	
	#playcell
	{
		background-image: url("res/paper.jpg");
		background-repeat: repeat;
		width: 100%;
		height: 100%;
	}
	
	#playarea
	{
		margin-left: 1em;
		margin-right: 1em;
		text-align: justify;
		padding-top: 3.5em;
		
		H1
		{
			font-weight: bold;
			font-size: 120%;
			margin-top: 0.5em;
			margin-bottom: 0.25em;
		}
	}
	
	#padding
	{
		width: 100%;
		height: 100em;
	}
	
	.editwindow
	{
		position: relative;
		height: 0;
		
		div
		{
			position: absolute;
			left: 110%;
			width: 100%;
			height: 10em;
			border: 3px solid yellow;
			background-color: yellow;
		}
	} 
}

#actionsarea
{
	border-top: 3px solid yellow;
	border-left: 3px solid yellow;
	border-right: 3px solid yellow;
    border-radius: 20px 20px 0 0;

	position: fixed;
	bottom: 0;
	left: 2%;
	width: 52%;
	background-color: yellow;
	
	.list, .speech
	{
		margin: 0.5em;
	}
	
	.list
	{
		UL
		{
			margin-left: 2em;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
		}
		
		LI
		{
			list-style-type: circle;
			margin-bottom: 0.2em;
		}
	}
	
	.speech
	{
		border-bottom: 1px dotted black;
		text-align: justify;
		min-height: 1em;
		line-height: 1;
	
		#chatinput
		{
			border-bottom: 1px dotted black;
		}
	}
}

#adminarea
{
	position: fixed;
	width: 20em;
	color: white;
	left: 60%;
	top: 10%;
}

.currentRoom
{
	font-weight: bold;
}

.zeroheight
{
	height: 0;
}

#editbutton
{
	width: 7em;
	text-align: center;
	font-size: 83%;
	font-weight: normal;
	margin-left: 1em;
}

.dialogue
{
	position: fixed !important;
	width: auto;
	height: auto;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 3px 3px 3px 3px;
	box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.9);
    
    @borderwidth: 0.5em;
    @titleheight: 1.3em;
    
    .dialogue-title
    {
    	position: absolute;
    	top: @borderwidth;
    	left: @borderwidth;
    	right: @borderwidth;
    	height: @titleheight; 
    	
    	text-align: center;
    	font-weight: bold;
    	color: white;
    }
    
    .container
    {
    	position: absolute;
    	top: @titleheight + (@borderwidth * 2);
    	bottom: @borderwidth;
    	left: @borderwidth;
    	right: @borderwidth;
	    overflow: auto;
		background-image: url("res/dialogue-background.jpg");
		background-repeat: repeat;
		border-radius: 3px 3px 3px 3px;
    }
    
    [contenteditable="true"]
    {
    	border: 1px solid black;
    	padding: 0.2em;
    	background-color: white;
    }
}

#editarea
{
	left: 55%;
	top: 4em;
	z-index: 2000;

	.resizable
	{
	    width: 30em;
	    height: 20em;
	}
	    
    .container
    {
    	padding: 0.5em;
    	
	    TABLE
	    {
		    border-collapse: collapse;
	    }
	
		TR
		{
	    	border-bottom: 0.5em solid transparent;
		}
		
	    TH
	    {
	    	font-weight: bold;
	    	white-space: nowrap;
	    	vertical-align: top;
	    	padding-top: 0.2em;
	    	border-right: 0.5em solid transparent;
	    }
	    
	    TD
	    {
	    	width: 100%;
	    	vertical-align: top;
	    }
	    
		#editdescription
		{
			min-height: 6em;
		}
		
		#editactions LI TABLE
		{
			width: 100%;
		}
		
		.containstype
		{
			text-align: right;
		}
		
		.containsbuttons
		{
			text-align: right;
			
			INPUT
			{
				width: 5em;
				margin: 0;
			}
		}
	}
}

#playarea, #editdescription
{
	P + P
	{
		margin-top: 0.75em;
	}
}

.template
{
	display: none;
}
